html { background: #f5f5f5; }
body { width: 940px; margin: 0 auto; background: #fff; padding: 20px; box-shadow: 0 0 10px #ddd; }

a { text-decoration: none; }


.logo { display: block; color: orange; font-size: 40px; width: 341px; height: 100px; background: url(img/cooperate_logo.png); text-indent: -9000px; }
.logo span { color: #df8500 }

svg { margin: auto; display: block; }

.footer { color: #999 }
.orange { color: orange; }